{% extends "base.html" %}
{% block content %}
{% if group.admin == user.username %}
You are the admin of the group
<br>
Share this link for your members to join
<br>
http://{{ current_site.domain }}{% url 'accounts:join' slug=group.slug %}
{% if group.members.all %}
<table>
  <tr>
    <th>Username </th>
    <th>Email</th>
  </tr>
  {% for user in group.members.all %}
  <tr>
    <td>{{ user.username }}</td>
    <td>{{ user.email }}</td>
  </tr>
  {% endfor %}
</table>
{% endif %}
{% elif user in group.members.all %}
<a href="{% url 'accounts:leave' slug=group.slug %}"><button type="button" name="button">Leave Group</button></a>
{% endif %}
{% endblock %}
